<div class="page-header">
  <h1>Fantasy Baseball Stats Demo</h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>2009 - 2010 Most Improved Batting Average</h4>
    <ul>
      <li>
        <%= @most_improved_batting_average.name %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>2007 Oakland A's</h4>
    <table id="team" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Slugging Percentage</th>
      </tr>
    </thead>
    <tbody>
    <% @batting_stats_for_oak_2007.each do |stat| %>
      <tr>
        <td><%= stat.player.name %></td>
        <td><%= stat.slugging_percentage.to_s %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4> 2011 - 2012 Top 5 Most Improved Fantasy Players</h4>
    <ol>
      <% @most_improved_fantasy_points.each do |obj| %>
        <li><%= obj[:player].name %></li>
      <% end %>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>Triple Crown Winners</h4>
    <table id="team" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Year</th>
        <th>American League</th>
        <th>National League</th>
      </tr>
    </thead>
    <tbody>
    <% @triple_crown_winners.each do |obj| %>
      <tr>
        <td><%= obj[:year] %></td>
        <td><%= obj[:american] %></td>
        <td><%= obj[:national] %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>